html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  background-color: whitesmoke;
}

button {
  margin-top: 10px;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #000;
}

button:hover {
  padding: 10px 20px;
  background-color: #333;

  color: #fff;
}

.Body {
  padding-bottom: 100px;
}

.container {
  padding: 10px 20px;
}


.Nav {
  height: 70px;
  background-color: #000;
  color: #fff;
  line-height: 70px;
  padding: 0px 20px;
}

.Nav .brand {
  float: left;
  font-size: 1.8em;
  text-decoration: none;
  color: #fff;
}

.Nav .menu {
  float: left;
  display: inline-block;
  height: 70px;
  padding: 0;
  margin: 0 0 0 100px;
}

.Nav .menu a {
  color: #fff;
}

.Nav .menu li {
  display: inline-block;
  padding: 0 20px;
}

.Nav .menu li:hover {
  background-color: whitesmoke;
  color: #000;
}

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightgray;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
}

.Footer .info {
  float: right;
}

.Breadcrumbs {
  background-color: darkgray;
  font-size: 0.9em;
}

.Breadcrumbs a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.MovieList ul{
  list-style: none;
  padding-left: 0;
  line-height: 2em;
  color: #000;
}

.MovieList li {
  padding: 20px;
  border-bottom: 0.1em solid lightgray;
  min-width: 475px;
}

.MovieList ul a {
  color: #000;
  text-decoration: none;
}

.MovieList ul li:hover {
  background-color: white;
  font-weight: bold;
}

.MovieList .movie-metascore {
  float: right;
}
.MovieList .directory-heading {
  height: 50px;
  line-height: 50px;
}

.MovieList .directory-heading h3 {
  margin: 0;
  display: inline-block;
}

.MovieList .directory-menu {
  display: inline-block;
  float: right;
}

.MovieList .directory-menu button {

}

.MovieDetails ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.5em;
}

.AddMovie .form-field {
  margin: 20px 0 30px;
}

.AddMovie .form-label {
  margin-bottom: 10px;
}

.AddMovie .form-input {
  border: 1px solid lightgray;
  box-shadow: none;
  width: 200px;
  font-size: 1em;
  padding: 10px;
}

.AddMovie .form-error {
  color: red;
  padding-top: 5px;
}